#map {
    float: left;
    width: 50%;
    height: 700px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: black;
    border: solid 5px;
    border-color: black;
    margin-left: 50px;
    border-radius: 10px;
}
